* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header p{
    color: white;
}
.calc p{
    color: white;
}


.text_16{
    font-size: 16px;
}
.text_18{
    font-size: 18px;
}
.text_20{
    font-size: 20px;
}
.text_22{
    font-size: 22px;
}
.text_24{
    font-size: 24px;
}
.text_26{
    font-size: 26px;
}
.text_34{
    font-size: 34px;
}
.text_40{
    font-size: 40px;
}


.text_regular{
    font-weight: normal;
}
.text_medium{
    font-weight: 500;
}
.text_semibold{
    font-weight: 500;
}
.text_bold{
    font-weight: bold;
}

.container {
    max-width: 970px;
    margin: auto;
}
@media (min-width: 1199px){
    .conteiner {
      max-width: 1140px;
    }
}
@media (min-width: 1499px){
    .conteiner {
      max-width: 1425px;
    }
}
.vertical_align {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


.header {
    min-height: 100vh;
    background-image: url(images/bg_header.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-attachment: fixed;
}
.header_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_col-one{
    width: 80%;
}
.header_button{
    background-color: #FF4567;
    border: 0;
    padding: 15px;
}
.header_col-two{
    background-image: url(images/block_bg_one.jpg);
    padding: 30px;
    height: 354px;
    width: 299px;
    background-repeat: no-repeat;  
    background-size: cover;
    background-attachment: fixed;   
}